APP_NAME="Legacy Hospital"
APP_ENV=local
APP_KEY=base64:A5wmQQDs1/JO/XGBW3Y8RBvxTp8v/o/gn4qUYHJJwGY=
APP_DEBUG=true
#APP_URL=http://127.0.0.1:8000

LOG_CHANNEL=stack
LOG_LEVEL=debug


# server
DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=legacy_web_db
DB_USERNAME=root
DB_PASSWORD=Legacy1@

# local
# DB_CONNECTION=mysql
# DB_HOST=127.0.0.1
# DB_PORT=3306
# DB_DATABASE=legacy_web_db
# DB_USERNAME=root
# DB_PASSWORD=

BROADCAST_DRIVER=log
CACHE_DRIVER=file
FILESYSTEM_DRIVER=local
QUEUE_CONNECTION=sync
SESSION_DRIVER=file
SESSION_LIFETIME=120

MEMCACHED_HOST=127.0.0.1

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=smtp
MAIL_HOST=smtp.mailtrap.io
MAIL_PORT=2525
MAIL_USERNAME=9c4d1bbd20e58a
MAIL_PASSWORD=c86e744281fff4
MAIL_ENCRYPTION=tls
MAIL_FROM_ADDRESS=emjay.omananyi@gmail.com
MAIL_FROM_NAME="${APP_NAME}"

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false

PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=
PUSHER_APP_CLUSTER=mt1

MIX_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
MIX_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"

# Pre Release
# APP_URL=https://legacy.gaae-ghana.org
# REDIRECT_URL=https://legacy.gaae-ghana.org

# Release
APP_URL=https://www.legacyhospital.org
REDIRECT_URL=https://www.legacyhospital.org

# Development
# APP_URL=http://127.0.0.1:8000
# REDIRECT_URL=http://127.0.0.1:8000

# SANCTUM_STATEFUL_DOMAINS=https://legacy.health
# SESSION_DOMAIN=https://legacy.health

MIX_APP_URL="${APP_URL}/api/"

